body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Menú superior */
.top-menu {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 5px 20px;
    align-items: center;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.top-menu ul li {
    margin: 0 10px;
}

.top-menu ul li a {
    text-decoration: none;
    color: green;
    font-size: 14px;
    font-weight: bold;
}

.social-icons a {
    font-size: 20px;
    margin: 0 8px;
    text-decoration: none;
    color: inherit; /* Esto mantiene su color original */
}

.social-icons a:hover {
    opacity: 0.7; /* Opcional: efecto de opacidad al pasar el mouse */
}

/* Header */
header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: auto; /* Permite que la imagen tome su tamaño real */
    height: 100px; /* Ajusta según el tamaño deseado */
    max-width: 100%; /* Asegura que no se salga del contenedor */
}

h1 {
    font-size: 20px;
    color: green;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.banner {
    width: 100%;
    min-height: 150px; /* Ajusta según la necesidad */
    object-fit: contain; /* Se ajusta sin cortar */
}
